body{
  background-image: url(https://c.tenor.com/E_QQlTg14OYAAAAd/loop-hyper-loop.gif);
 background-position: center;
 background-size: 1050px,;

}
#ionic {background-color: powderblue;}  
  #posicionamento {
  padding-top: 0%;
  padding-left: 10%;

  //background-image: url(https://st.depositphotos.com/1395424/4400/i/600/depositphotos_44001907-stock-photo-supermarket-cart.jpg)
}
#texto  {
  background-color: rgb(11, 103, 134);
  background-size: 149px;
  color: rgba(255,0,0,);
  text-align: center;
  font-family: serif;
  font-weight: 1000;
  
  
}
#socorro{
  text-align: center;
}
#soma{
padding-top: 80%;
padding-left: 25%;


}

