
 <ion-content id="background" [fullscreen]  = "true">
 <body>
  <p id="texto">LISTA DE COMPRAS</p> 
  
  
  
  

  

  


  
  
  <div id="posicionamento">
   
    
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-input placeholder="Nome de um produto" [(ngModel)]="texto" (keyup.enter)="adiciona()"></ion-input>
            
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-input placeholder="Preço do produto" [(ngModel)]="preco" (keyup.enter)="adiciona()"></ion-input>

          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary" size="small" (click)="adiciona()">
            <ion-icon name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngFor = "let elemento_da_lista of variavel_lista;">
            <ion-grid>
              <ion-row>
                <ion-col id="socorro"size="9">
                  {{elemento_da_lista[1][0]}} <!-- Exibir nome do item da lista-->
                  {{elemento_da_lista[1][1]}} <!-- Exibir preço do item da lista-->
                </ion-col>
                <ion-col size="1">
                  <ion-button color="danger" size="small" (click)="remove(elemento_da_lista[0][0])"> <!-- envia como parâmetro o indice do elemento da lista-->
                    <ion-icon name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </div>
    <div id = "soma">
     <ion-button color="dark" size="small">
       <ion-title size = "small"> Total: R$ {{soma}}</ion-title>
      
     </ion-button>
    </div>
</body>
 </ion-content>